@media all and (min-width: 720px){
	.profile-caption{
		font-size: 2em;
		display: none;
	}
}

@media all and (max-width: 720px){
	.profile-caption{
		font-size: 1.5em;
		display: none;
	}
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
		.profile-caption{
			font-size:1.2em;
			display: none;
		}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
		.profile-caption{
			font-size: 1.4em;
			display:none;
		}
}





.landing{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/../images/science.png');
	background-repeat: repeat-x repeat-y;
	min-height: 100%;
	max-height: 100%;
	height: 100%;
	position: static;
}


.profile{
	min-width: 100%;
	min-height: 50%;
	max-height: 50%;
	margin-top: 10%;
	text-align: center;
	color: #fff;
}

.profile-img{
	min-height: 20%;
	max-height: 20%;
	min-width: 20%;
	max-width: 20%;
	border-radius: 50%;
	margin-left: 40%;
	margin-right: 40%;
}

.profile-container{
	margin-top: 50px;
	min-width: 100%;
	min-height: 50%;
	max-height: 50%;
}

.profile-img{
	display: none;
}

.profile-caption > span{

}

.text-container{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
}
.inline{
	display: inline;
	height: 15%;
	max-height: 15%;
	width: 15%;
	max-width: 15%;
	margin: 2%;
}

.section-heading{
	color: #E65C00;
}

.field{
	display: block;
}

.field > label{
	float: left;
	padding-right:5%;
}
.contact-input{
	float:right;
	width: 85%;
}

.contact-form{
	padding-bottom: 10%;
}

body{
	background: url('../images/pixel_weave.png');
	background-position: left top;
	height: 100%;
	min-width: 480px;
}

html{
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

.navbar-default{
	background-color: #333333;
	color: #E65C00;
	margin-bottom: 0px;
	width: 100%;
	position: fixed;
	border-color: #474747;
}

.navbar-brand{
	color: #E65C00 !important;
}

.navbar-nav>li>a{
	color: #E65C00 !important;
}

#bs-example-navbar-collapse-1{
	border-color: #474747;
}

.footer{
	background-color: #E6E6E6;
	color: #E65C00;
	margin-bottom: 0px;
	width: 100%;
}

.footer>li>a{
	color: #E65C00 !important;
}

.footer-box{
	min-height: 40%;
	max-height: 40%;
	width: 100%;
	background-color: #333333;
	position: absolute;
	border-top:1px #474747;
}

.list-inline>li>a{
	top:15px;
	padding-bottom: 15px;
	line-height: 20px;
	color: #E65C00 !important;
	font-size: 14px;
	text-decoration: none;
}

.social-icon{
	min-height: 100%;
	max-height: 100%;
	min-width: 100%;
	max-width: 100%;
	position: static;
	display: inline;
}

.icon{
	display:inline;
	margin: auto;
	width: 10%;
	max-width: 10%;
	height: 10%;
	max-height: 10%;
}

.footer-container{
	margin-top: 3%;
	margin-bottom: 7%;
	max-width: 100%;
	min-width: 100%;
}

.footer-heading{
	display: block;
	margin: auto;
	z-index: 100;
	color: #E65C00;
	text-align: center;
}

.subrow{
	display: inline;

}

.icon-text{
	min-height: 100%;
	max-height: 100%;
	min-width: 100%;
	max-width: 100%;
	position: static;
	display: inline;
	color: #fff;
}
